body {font-family: 'Roboto', sans-serif;}
.walking {display:inline; opacity:0.1; position:absolute;top:20px; right:20px;}
.title:after {background-image:url(http://icons.iconarchive.com/icons/icons8/windows-8/512/Sports-Walking-icon.png)}
.box {text-align:center; padding:30px; color:white; background:blue; border-right:3px solid white; border-bottom:3px solid white; 
    animation-name: fade;
    animation-duration: 12s;
  opacity:0.1;
  transition:all 2s;
}
@keyframes fade {
    0%   {opacity:0;}
    20%  {opacity:1;}
    60% {opacity:1;}
    100% {opacity:0.1;}
}
.time {font-size:18px; color:#FBBC05}